In [61]:
import pandas as pd

Below is a csv table with movie names, a studio abbreviation, the domestic gross, the foreign gross, and the year.

In [62]:
bom = pd.read_csv('./data/bom.movie_gross.csv.gz')
pd.read_csv('./data/bom.movie_gross.csv.gz')

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [63]:
bom['foreign_gross'].isnull().sum() #keep
bom['studio'].isnull().sum() #keep until we merge

5

In [64]:
df = pd.read_csv('./data/rt.movie_info.tsv.gz', delimiter = '\t')

#pd.read_csv('./data/rt.movie_info.tsv.gz', delimiter = '\t')

In [65]:
df['box_office'].isnull().sum() #too much nullvalues to be able use this dataset
                                #no name section so can't do much

1220

In [66]:
#this one has some funky encoding in it? It doesn't use utf-8 but latin1
# utf-8 and latin1 are the most common encoding but there can be others

# pd.read_csv('./data/rt.reviews.tsv.gz', delimiter = '\t', encoding= 'latin1' )

In [67]:
tmdb = pd.read_csv('./data/tmdb.movies.csv.gz')
pd.read_csv('./data/tmdb.movies.csv.gz')

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [68]:
rating_and_gross = bom.merge(tmdb, how='inner', left_on='title', right_on='title').sort_values('domestic_gross', ascending=False)

rating_and_gross

#The table seems to be sorting weird, we are going to have to figure out what is going on
#Anything over 1 billion with show up as 1,131.6 which is 1,131,600,000
#We need to look carefully at duplicates, for example index 2488 is the wrong black panther based on the number of reviews. The correct one is 2489.

,title,studio,domestic_gross,foreign_gross,year,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count
1428,Star Wars: The Force Awakens,BV,936700000.0,"1,131.6",2015,14172,"[28, 12, 878, 14]",140607,en,Star Wars: The Force Awakens,32.281,2015-12-18,7.4,12641
1429,Star Wars: The Force Awakens,BV,936700000.0,"1,131.6",2015,17385,"[28, 12, 878, 14]",140607,en,Star Wars: The Force Awakens,32.281,2015-12-18,7.4,12641
2489,Black Panther,BV,700100000.0,646900000,2018,23817,"[28, 12, 14, 878]",284054,en,Black Panther,44.140,2018-02-16,7.4,12365
2488,Black Panther,BV,700100000.0,646900000,2018,3444,"[28, 16]",86841,en,Black Panther,2.058,2011-01-18,5.1,11
2487,Avengers: Infinity War,BV,678800000.0,"1,369.5",2018,23811,"[12, 28, 14]",299536,en,Avengers: Infinity War,80.773,2018-04-27,8.3,13948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1967,Solace,LGP,NaN,22400000,2016,10512,[],167513,en,Solace,0.600,2013-03-01,6.0,1
1968,Solace,LGP,NaN,22400000,2016,17583,"[53, 80, 9648]",339527,en,Solace,9.878,2016-12-16,6.3,1258
1969,Solace,LGP,NaN,22400000,2016,20867,"[53, 80, 9648]",339527,en,Solace,9.878,2016-12-16,6.3,1258
1970,Solace,LGP,NaN,22400000,2016,25128,[18],549325,en,Solace,2.772,2018-09-23,5.0,1
2087,Viral,W/Dim.,NaN,552000,2016,17746,"[18, 27, 878]",336455,en,Viral,7.664,2016-07-29,5.5,238

In [69]:
rating_and_gross[rating_and_gross['title']== 'Avengers: Age of Ultron']

,title,studio,domestic_gross,foreign_gross,year,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,vote_average,vote_count
1432,Avengers: Age of Ultron,BV,459000000.0,946400000,2015,14169,"[28, 12, 878]",99861,en,Avengers: Age of Ultron,44.383,2015-05-01,7.3,13457

In [70]:
tmdb['vote_count'].isnull().sum()

0

In [71]:
tmdb['title'].isnull().sum()

0

In [72]:
tmdb['original_title'].isnull().sum()

0

In [73]:
tmdb['vote_count'].isnull().sum()

0

In [74]:
tmdb['vote_average'].isnull().sum()

0

In [75]:
tmdb['title'].unique().shape #deal with duplicates

(24688,)

In [76]:
tmdb['release_date'].isnull().sum()

0

In [77]:
tn = pd.read_csv('./data/tn.movie_budgets.csv.gz')
pd.read_csv('./data/tn.movie_budgets.csv.gz')
#check how many are 0 potentially but the zeros would make send in this case

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [78]:
budget_rating_gross =   rating_and_gross.merge(tn, how='inner', left_on='title', right_on='movie')

In [79]:
budget_rating_gross.shape
#for this new df we want to add 2 columns, the first will be worldwide_gross - production_budget, the second is the ratio of worldwide_gross/production budget
#After we delete duplicates, we want to do a .value_counts() on name so that if there is a duplicate similar to Black Panter
#Where there is an obvious error we can make decisions on a case by case basis.

(1395, 20)

In [80]:
clean_columns = budget_rating_gross.drop(['Unnamed: 0', 'genre_ids', 'original_title', 'domestic_gross_x', 'foreign_gross', 'movie', 'id_x', 'id_y'], axis=1)
clean_columns

,title,studio,year,original_language,popularity,release_date_x,vote_average,vote_count,release_date_y,production_budget,domestic_gross_y,worldwide_gross
0,Black Panther,BV,2018,en,44.140,2018-02-16,7.4,12365,"Feb 16, 2018","$200,000,000","$700,059,566","$1,348,258,224"
1,Black Panther,BV,2018,en,2.058,2011-01-18,5.1,11,"Feb 16, 2018","$200,000,000","$700,059,566","$1,348,258,224"
2,Avengers: Infinity War,BV,2018,en,80.773,2018-04-27,8.3,13948,"Apr 27, 2018","$300,000,000","$678,815,482","$2,048,134,200"
3,Jurassic World,Uni.,2015,en,20.709,2015-06-12,6.6,14056,"Jun 12, 2015","$215,000,000","$652,270,625","$1,648,854,864"
4,Incredibles 2,BV,2018,en,36.286,2018-06-15,7.6,6354,"Jun 15, 2018","$200,000,000","$608,581,744","$1,242,520,711"
...,...,...,...,...,...,...,...,...,...,...,...,...
1390,Khumba,MNE,2013,en,9.597,2013-12-07,5.6,129,"Dec 6, 2013","$15,000,000",$0,"$20,898,221"
1391,Jackpot,DR,2014,no,2.864,2014-06-27,6.1,18,"Jul 27, 2001","$400,000","$44,452","$44,452"
1392,Jackpot,DR,2014,en,0.600,2012-07-14,6.0,1,"Jul 27, 2001","$400,000","$44,452","$44,452"
1393,It's a Wonderful Afterlife,UTV,2010,en,1.332,2010-10-08,4.6,12,"Oct 8, 2010","$10,000,000",$0,"$1,642,939"
1394,All the Boys Love Mandy Lane,RTWC,2013,en,10.030,2013-10-11,5.5,326,"Oct 11, 2013","$750,000",$0,"$1,960,521"

In [84]:
clean_columns['worldwide_gross'] = clean_columns['worldwide_gross'].str.replace('$', '')
clean_columns['worldwide_gross'] = clean_columns['worldwide_gross'].str.replace(',', '')

In [87]:
clean_columns['worldwide_gross'] = clean_columns['worldwide_gross'].astype(int)

In [90]:
clean_columns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1395 entries, 0 to 1394
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              1395 non-null   object
 1   studio             1394 non-null   object
 2   year               1395 non-null   int64
 3   original_language  1395 non-null   object
 4   popularity         1395 non-null   float64
 5   release_date_x     1395 non-null   object
 6   vote_average       1395 non-null   float64
 7   vote_count         1395 non-null   int64
 8   release_date_y     1395 non-null   object
 9   production_budget  1395 non-null   object
 10  domestic_gross_y   1395 non-null   object
 11  worldwide_gross    1395 non-null   int64
dtypes: float64(2), int64(3), object(7)
memory usage: 141.7+ KB

In [91]:
clean_columns['domestic_gross_y'] = clean_columns['domestic_gross_y'].str.replace('$', '')
clean_columns['domestic_gross_y'] = clean_columns['domestic_gross_y'].str.replace(',', '')

In [92]:
clean_columns['domestic_gross_y'] = clean_columns['domestic_gross_y'].astype(int)

In [93]:
clean_columns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1395 entries, 0 to 1394
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              1395 non-null   object
 1   studio             1394 non-null   object
 2   year               1395 non-null   int64
 3   original_language  1395 non-null   object
 4   popularity         1395 non-null   float64
 5   release_date_x     1395 non-null   object
 6   vote_average       1395 non-null   float64
 7   vote_count         1395 non-null   int64
 8   release_date_y     1395 non-null   object
 9   production_budget  1395 non-null   object
 10  domestic_gross_y   1395 non-null   int64
 11  worldwide_gross    1395 non-null   int64
dtypes: float64(2), int64(4), object(6)
memory usage: 141.7+ KB

In [95]:
clean_columns['foreign_gross'] = clean_columns['worldwide_gross'] - clean_columns['domestic_gross_y']

In [96]:
clean_columns

,title,studio,year,original_language,popularity,release_date_x,vote_average,vote_count,release_date_y,production_budget,domestic_gross_y,worldwide_gross,foreign_gross
0,Black Panther,BV,2018,en,44.140,2018-02-16,7.4,12365,"Feb 16, 2018","$200,000,000",700059566,1348258224,648198658
1,Black Panther,BV,2018,en,2.058,2011-01-18,5.1,11,"Feb 16, 2018","$200,000,000",700059566,1348258224,648198658
2,Avengers: Infinity War,BV,2018,en,80.773,2018-04-27,8.3,13948,"Apr 27, 2018","$300,000,000",678815482,2048134200,1369318718
3,Jurassic World,Uni.,2015,en,20.709,2015-06-12,6.6,14056,"Jun 12, 2015","$215,000,000",652270625,1648854864,996584239
4,Incredibles 2,BV,2018,en,36.286,2018-06-15,7.6,6354,"Jun 15, 2018","$200,000,000",608581744,1242520711,633938967
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,Khumba,MNE,2013,en,9.597,2013-12-07,5.6,129,"Dec 6, 2013","$15,000,000",0,20898221,20898221
1391,Jackpot,DR,2014,no,2.864,2014-06-27,6.1,18,"Jul 27, 2001","$400,000",44452,44452,0
1392,Jackpot,DR,2014,en,0.600,2012-07-14,6.0,1,"Jul 27, 2001","$400,000",44452,44452,0
1393,It's a Wonderful Afterlife,UTV,2010,en,1.332,2010-10-08,4.6,12,"Oct 8, 2010","$10,000,000",0,1642939,1642939
1394,All the Boys Love Mandy Lane,RTWC,2013,en,10.030,2013-10-11,5.5,326,"Oct 11, 2013","$750,000",0,1960521,1960521

In [100]:
clean_columns['production_budget'] = clean_columns['production_budget'].str.replace('$', '')
clean_columns['production_budget'] = clean_columns['production_budget'].str.replace(',', '')

In [101]:
clean_columns['production_budget'] = clean_columns['production_budget'].astype(int)

In [102]:
clean_columns

,title,studio,year,original_language,popularity,release_date_x,vote_average,vote_count,release_date_y,production_budget,domestic_gross_y,worldwide_gross,foreign_gross
0,Black Panther,BV,2018,en,44.140,2018-02-16,7.4,12365,"Feb 16, 2018",200000000,700059566,1348258224,648198658
1,Black Panther,BV,2018,en,2.058,2011-01-18,5.1,11,"Feb 16, 2018",200000000,700059566,1348258224,648198658
2,Avengers: Infinity War,BV,2018,en,80.773,2018-04-27,8.3,13948,"Apr 27, 2018",300000000,678815482,2048134200,1369318718
3,Jurassic World,Uni.,2015,en,20.709,2015-06-12,6.6,14056,"Jun 12, 2015",215000000,652270625,1648854864,996584239
4,Incredibles 2,BV,2018,en,36.286,2018-06-15,7.6,6354,"Jun 15, 2018",200000000,608581744,1242520711,633938967
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,Khumba,MNE,2013,en,9.597,2013-12-07,5.6,129,"Dec 6, 2013",15000000,0,20898221,20898221
1391,Jackpot,DR,2014,no,2.864,2014-06-27,6.1,18,"Jul 27, 2001",400000,44452,44452,0
1392,Jackpot,DR,2014,en,0.600,2012-07-14,6.0,1,"Jul 27, 2001",400000,44452,44452,0
1393,It's a Wonderful Afterlife,UTV,2010,en,1.332,2010-10-08,4.6,12,"Oct 8, 2010",10000000,0,1642939,1642939
1394,All the Boys Love Mandy Lane,RTWC,2013,en,10.030,2013-10-11,5.5,326,"Oct 11, 2013",750000,0,1960521,1960521

In [103]:
clean_columns['gross_to_budget_ratio'] = clean_columns['worldwide_gross'] / clean_columns['production_budget']

In [112]:
clean_columns.sort_values(by='gross_to_budget_ratio', ascending=False)

,title,studio,year,original_language,popularity,release_date_x,vote_average,vote_count,release_date_y,production_budget,domestic_gross_y,worldwide_gross,foreign_gross,gross_to_budget_ratio
824,The Gallows,WB (NL),2015,en,9.166,2015-07-10,4.8,591,"Jul 10, 2015",100000,22764410,41656474,18892064,416.564740
499,The Devil Inside,Par.,2012,en,7.403,2012-01-06,4.7,441,"Jan 6, 2012",1000000,53262945,101759490,48496545,101.759490
496,Insidious,FD,2011,en,16.197,2011-04-01,6.9,3582,"Apr 1, 2011",1500000,54009150,99870886,45861736,66.580591
712,Unfriended,Uni.,2015,en,8.120,2015-04-17,5.4,2019,"Apr 17, 2015",1000000,32789645,64364198,31574553,64.364198
312,Paranormal Activity 2,Par.,2010,en,8.163,2010-10-21,5.7,1342,"Oct 20, 2010",3000000,84752907,177512032,92759125,59.170677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1347,Eden,BG,2015,en,0.600,2018-11-25,0.0,1,"Jan 19, 2016",2300000,0,0,0,0.000000
1348,Eden,BG,2015,en,5.373,2015-06-19,5.8,57,"Jan 19, 2016",2300000,0,0,0,0.000000
592,Snitch,LG/S,2013,en,16.673,2013-02-22,5.9,1493,"Dec 31, 2012",850000,0,0,0,0.000000
1349,Eden,BG,2015,en,5.373,2015-06-19,5.8,57,"Jan 19, 2016",2300000,0,0,0,0.000000
1351,Eden,BG,2015,en,5.373,2015-06-19,5.8,57,"Jan 19, 2016",2300000,0,0,0,0.000000

In [124]:
test_clean_columns = clean_columns.drop_duplicates()

In [125]:
test_clean_columns

,title,studio,year,original_language,popularity,release_date_x,vote_average,vote_count,release_date_y,production_budget,domestic_gross_y,worldwide_gross,foreign_gross,gross_to_budget_ratio
0,Black Panther,BV,2018,en,44.140,2018-02-16,7.4,12365,"Feb 16, 2018",200000000,700059566,1348258224,648198658,6.741291
1,Black Panther,BV,2018,en,2.058,2011-01-18,5.1,11,"Feb 16, 2018",200000000,700059566,1348258224,648198658,6.741291
2,Avengers: Infinity War,BV,2018,en,80.773,2018-04-27,8.3,13948,"Apr 27, 2018",300000000,678815482,2048134200,1369318718,6.827114
3,Jurassic World,Uni.,2015,en,20.709,2015-06-12,6.6,14056,"Jun 12, 2015",215000000,652270625,1648854864,996584239,7.669092
4,Incredibles 2,BV,2018,en,36.286,2018-06-15,7.6,6354,"Jun 15, 2018",200000000,608581744,1242520711,633938967,6.212604
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,Khumba,MNE,2013,en,9.597,2013-12-07,5.6,129,"Dec 6, 2013",15000000,0,20898221,20898221,1.393215
1391,Jackpot,DR,2014,no,2.864,2014-06-27,6.1,18,"Jul 27, 2001",400000,44452,44452,0,0.111130
1392,Jackpot,DR,2014,en,0.600,2012-07-14,6.0,1,"Jul 27, 2001",400000,44452,44452,0,0.111130
1393,It's a Wonderful Afterlife,UTV,2010,en,1.332,2010-10-08,4.6,12,"Oct 8, 2010",10000000,0,1642939,1642939,0.164294
1394,All the Boys Love Mandy Lane,RTWC,2013,en,10.030,2013-10-11,5.5,326,"Oct 11, 2013",750000,0,1960521,1960521,2.614028

In [141]:
duplicate_list = test_clean_columns[test_clean_columns.duplicated(['title'], keep=False)]
#We have a dataframe of duplicate titles, we need to drop one title over another based on the value_count
#Can we left join two duplicate titles based on value_count?
#Can we for loop and drop based on vote_count?

In [150]:
duplicate_list['title'].unique()

array(['Black Panther', 'Wonder Woman', 'Frozen', 'Inside Out', 'Moana',
       'Brave', 'The Karate Kid', 'Get Out', 'Split', 'Salt',
       'Robin Hood', 'The Mule', 'Noah', 'Non-Stop', 'Unstoppable',
       'Pixels', 'Book Club', 'The Visit', 'Unknown', 'Black Mass',
       'Vacation', 'Fantastic Four', 'Project X', 'Tag', 'Sinister',
       'Vice', 'The Judge', 'Snatched', 'Spotlight', 'Edge of Darkness',
       'Snitch', 'Truth or Dare', 'Nerve', 'Brooklyn', 'Alpha',
       'The Boy Next Door', 'The Gambler', 'Adrift', 'The Forest',
       'Leap Year', 'The Lazarus Effect', 'Transcendence',
       'Your Highness', 'The Master', 'The Raven', 'Whiplash',
       'Battle of the Sexes', 'Let Me In', 'Paranoia', 'The Collection',
       'Believe', "Won't Back Down", 'The Apparition', 'Morgan', 'Shame',
       'Friend Request', 'Another Year', 'Youth', 'Trance', 'Legend',
       'Flipped', 'A Better Life', 'Stone', 'The Wall', 'The Joneses',
       'The Square', 'Mandy', 'The D Train', 'The Future', 'Monsters',
       'The Girl on the Train', 'Beautiful Boy', 'Eden',
       'The Other Woman', 'Trash', 'Wolves', 'Jackpot'], dtype=object)

In [ ]:
#or title in duplicate_list:
#    if title.value_count > 1 
#     keep [value_count].max()

In [151]:
duplicate_list

,title,studio,year,original_language,popularity,release_date_x,vote_average,vote_count,release_date_y,production_budget,domestic_gross_y,worldwide_gross,foreign_gross,gross_to_budget_ratio
0,Black Panther,BV,2018,en,44.140,2018-02-16,7.4,12365,"Feb 16, 2018",200000000,700059566,1348258224,648198658,6.741291
1,Black Panther,BV,2018,en,2.058,2011-01-18,5.1,11,"Feb 16, 2018",200000000,700059566,1348258224,648198658,6.741291
13,Wonder Woman,WB,2017,en,31.618,2017-06-02,7.3,12566,"Jun 2, 2017",150000000,412563408,821133378,408569970,5.474223
14,Wonder Woman,WB,2017,en,2.841,2013-09-29,5.9,34,"Jun 2, 2017",150000000,412563408,821133378,408569970,5.474223
20,Frozen,BV,2013,en,9.678,2010-02-05,5.8,987,"Nov 22, 2013",150000000,400738009,1272469910,871731901,8.483133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374,Trash,FCW,2015,pt,7.179,2015-10-09,7.1,353,"Oct 9, 2015",12000000,17484,6553186,6535702,0.546099
1380,Wolves,KE,2014,en,4.270,2016-10-25,5.8,22,"Nov 14, 2014",18000000,0,94953,94953,0.005275
1382,Wolves,KE,2014,en,8.627,2014-11-14,5.8,151,"Nov 14, 2014",18000000,0,94953,94953,0.005275
1391,Jackpot,DR,2014,no,2.864,2014-06-27,6.1,18,"Jul 27, 2001",400000,44452,44452,0,0.111130
1392,Jackpot,DR,2014,en,0.600,2012-07-14,6.0,1,"Jul 27, 2001",400000,44452,44452,0,0.111130

In [164]:
test

,title,studio,year,original_language,popularity,release_date_x,vote_average,vote_count,release_date_y,production_budget,domestic_gross_y,worldwide_gross,foreign_gross,gross_to_budget_ratio
0,Black Panther,BV,2018,en,44.140,2018-02-16,7.4,12365,"Feb 16, 2018",200000000,700059566,1348258224,648198658,6.741291
13,Wonder Woman,WB,2017,en,31.618,2017-06-02,7.3,12566,"Jun 2, 2017",150000000,412563408,821133378,408569970,5.474223
21,Frozen,BV,2013,en,26.183,2013-11-27,7.3,9767,"Nov 22, 2013",150000000,400738009,1272469910,871731901,8.483133
26,Inside Out,BV,2015,en,24.797,2015-06-19,8.0,12691,"Jun 19, 2015",175000000,356461711,854235992,497774281,4.881349
63,Moana,BV,2016,en,4.419,2016-11-23,7.5,6907,"Nov 23, 2016",150000000,248757044,637517365,388760321,4.250116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1346,Eden,BG,2015,en,6.877,2012-03-11,6.8,100,"Jan 19, 2016",2300000,0,0,0,0.000000
1366,The Other Woman,IFC,2011,en,11.894,2014-04-25,6.3,2276,"Apr 25, 2014",40000000,83911193,195111193,111200000,4.877780
1374,Trash,FCW,2015,pt,7.179,2015-10-09,7.1,353,"Oct 9, 2015",12000000,17484,6553186,6535702,0.546099
1382,Wolves,KE,2014,en,8.627,2014-11-14,5.8,151,"Nov 14, 2014",18000000,0,94953,94953,0.005275
1391,Jackpot,DR,2014,no,2.864,2014-06-27,6.1,18,"Jul 27, 2001",400000,44452,44452,0,0.111130

In [152]:
vote_count_max = duplicate_list.groupby(['title','studio']).vote_count.transform(max)
test = duplicate_list.loc[duplicate_list.vote_count == vote_count_max]
#This seems to do what we needed to do but there may be implications we aren't seeing. 
#For example it is keeping the release date and other values associated with the title with the max vote_count.

In [161]:
duplicate_list.groupby(['title','studio']).vote_count.max()

title                studio
A Better Life        Sum.           97
Adrift               STX          1264
Alpha                Studio 8     1167
Another Year         SPC           150
Battle of the Sexes  FoxS         1045
                                 ...
Wolves               KE            151
Won't Back Down      Fox            64
Wonder Woman         WB          12566
Your Highness        Uni.          735
Youth                FoxS         1098
Name: vote_count, Length: 77, dtype: int64

In [163]:
test

,title,studio,year,original_language,popularity,release_date_x,vote_average,vote_count,release_date_y,production_budget,domestic_gross_y,worldwide_gross,foreign_gross,gross_to_budget_ratio
0,Black Panther,BV,2018,en,44.140,2018-02-16,7.4,12365,"Feb 16, 2018",200000000,700059566,1348258224,648198658,6.741291
13,Wonder Woman,WB,2017,en,31.618,2017-06-02,7.3,12566,"Jun 2, 2017",150000000,412563408,821133378,408569970,5.474223
21,Frozen,BV,2013,en,26.183,2013-11-27,7.3,9767,"Nov 22, 2013",150000000,400738009,1272469910,871731901,8.483133
26,Inside Out,BV,2015,en,24.797,2015-06-19,8.0,12691,"Jun 19, 2015",175000000,356461711,854235992,497774281,4.881349
63,Moana,BV,2016,en,4.419,2016-11-23,7.5,6907,"Nov 23, 2016",150000000,248757044,637517365,388760321,4.250116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1346,Eden,BG,2015,en,6.877,2012-03-11,6.8,100,"Jan 19, 2016",2300000,0,0,0,0.000000
1366,The Other Woman,IFC,2011,en,11.894,2014-04-25,6.3,2276,"Apr 25, 2014",40000000,83911193,195111193,111200000,4.877780
1374,Trash,FCW,2015,pt,7.179,2015-10-09,7.1,353,"Oct 9, 2015",12000000,17484,6553186,6535702,0.546099
1382,Wolves,KE,2014,en,8.627,2014-11-14,5.8,151,"Nov 14, 2014",18000000,0,94953,94953,0.005275
1391,Jackpot,DR,2014,no,2.864,2014-06-27,6.1,18,"Jul 27, 2001",400000,44452,44452,0,0.111130

In [153]:
test

,title,studio,year,original_language,popularity,release_date_x,vote_average,vote_count,release_date_y,production_budget,domestic_gross_y,worldwide_gross,foreign_gross,gross_to_budget_ratio
0,Black Panther,BV,2018,en,44.140,2018-02-16,7.4,12365,"Feb 16, 2018",200000000,700059566,1348258224,648198658,6.741291
13,Wonder Woman,WB,2017,en,31.618,2017-06-02,7.3,12566,"Jun 2, 2017",150000000,412563408,821133378,408569970,5.474223
21,Frozen,BV,2013,en,26.183,2013-11-27,7.3,9767,"Nov 22, 2013",150000000,400738009,1272469910,871731901,8.483133
26,Inside Out,BV,2015,en,24.797,2015-06-19,8.0,12691,"Jun 19, 2015",175000000,356461711,854235992,497774281,4.881349
63,Moana,BV,2016,en,4.419,2016-11-23,7.5,6907,"Nov 23, 2016",150000000,248757044,637517365,388760321,4.250116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1346,Eden,BG,2015,en,6.877,2012-03-11,6.8,100,"Jan 19, 2016",2300000,0,0,0,0.000000
1366,The Other Woman,IFC,2011,en,11.894,2014-04-25,6.3,2276,"Apr 25, 2014",40000000,83911193,195111193,111200000,4.877780
1374,Trash,FCW,2015,pt,7.179,2015-10-09,7.1,353,"Oct 9, 2015",12000000,17484,6553186,6535702,0.546099
1382,Wolves,KE,2014,en,8.627,2014-11-14,5.8,151,"Nov 14, 2014",18000000,0,94953,94953,0.005275
1391,Jackpot,DR,2014,no,2.864,2014-06-27,6.1,18,"Jul 27, 2001",400000,44452,44452,0,0.111130

In [17]:
tn['release_date'].isnull().sum()

0

In [18]:
tn['movie'].isnull().sum()

0

In [19]:
tn['production_budget'].isnull().sum()

0

In [20]:
tn['domestic_gross'].isnull().sum()

0

In [21]:
tn['worldwide_gross'].isnull().sum()

0

In [22]:
import pandas as pd
import sqlite3
import zipfile as zf
import os

In [23]:
files = zf.ZipFile('./data/im.db.zip', 'r') #these lines create a im.db file which is too big to push
files.extractall() #these lines create a im.db file which is too big to push

In [24]:
con = sqlite3.connect("./im.db")

In [25]:
titles = pd.read_sql("""
Select * 

From movie_basics
            
""", con)
titles

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [26]:
#pd.read_sql("""
#Select * 

#From known_for
            
#""", con).head()

In [27]:
#pd.read_sql("""
#Select * 

#From movie_akas
            
#""", con).head()

In [25]:
rating = pd.read_sql("""
Select * 

From movie_ratings
            
""", con)

rating

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [39]:
pd.read_sql('''
    SELECT *
    
    FROM
    movie_ratings
    
    INNER JOIN movie_basics
        USING(movie_id) 
     
     WHERE numvotes >= 1000
     
     ORDER BY 
         averagerating DESC
    
    LIMIT 20
''', con)

#We need to choose and averagerating number for a WHERE clause
#If we feel like we need more ratings data we can combine this with budget_rating_gross

,movie_id,averagerating,numvotes,primary_title,original_title,start_year,runtime_minutes,genres
0,tt7131622,9.7,5600,Once Upon a Time ... in Hollywood,Once Upon a Time ... in Hollywood,2019,159.0,"Comedy,Drama"
1,tt6058226,9.6,2604,Ekvtime: Man of God,Ekvtime: Man of God,2018,132.0,"Biography,Drama,History"
2,tt4131686,9.6,1339,I Want to Live,I Want to Live,2015,106.0,"Adventure,Biography,Documentary"
3,tt5963218,9.5,6509,Aloko Udapadi,Aloko Udapadi,2017,113.0,"Drama,History"
4,tt7738784,9.4,9629,Peranbu,Peranbu,2018,147.0,Drama
5,tt5813916,9.3,100568,The Mountain II,Dag II,2016,135.0,"Action,Drama,War"
6,tt5354160,9.3,18470,Aynabaji,Aynabaji,2016,147.0,"Crime,Mystery,Thriller"
7,tt2170667,9.3,17308,Wheels,Wheels,2014,115.0,Drama
8,tt5593384,9.3,1220,Truth and Justice,Tõde ja õigus,2019,165.0,Drama
9,tt5773402,9.2,1096,Dominion,Dominion,2018,120.0,Documentary
10,tt5311546,9.2,4297,Natsamrat,Natsamrat,2016,166.0,"Drama,Family"
11,tt4733046,9.2,1015,The Weight of Chains 2,The Weight of Chains 2,2014,124.0,"Comedy,Documentary,History"
12,tt7391996,9.2,2195,C/o Kancharapalem,C/o Kancharapalem,2018,152.0,Drama
13,tt2592910,9.2,41560,CM101MMXI Fundamentals,CM101MMXI Fundamentals,2013,139.0,"Comedy,Documentary"
14,tt2869878,9.2,1172,The Poodles: In the Flesh,The Poodles: In the Flesh,2010,152.0,Documentary
15,tt3557258,9.2,1119,Caur Adatu,Caur Adatu,2014,74.0,"Biography,Documentary,Drama"
16,tt6679360,9.2,2721,On vam ne Dimon,On vam ne Dimon,2017,50.0,Documentary
17,tt9231140,9.1,4162,A Man Called Ahok,A Man Called Ahok,2018,102.0,Drama
18,tt5732482,9.1,1766,Hans Zimmer: Live in Prague,Hans Zimmer: Live in Prague,2017,150.0,"Documentary,Music"
19,tt2412748,9.1,1013,Saving Mes Aynak,Saving Mes Aynak,2014,60.0,Documentary

In [8]:
#rating['movie_id'].isnull().sum()

In [9]:
#rating['averagerating'].isnull().sum()

In [ ]:
#rating['numvotes'].isnull().sum()

In [ ]:
#pd.read_sql("""
#Select * 

#From persons
#where primary_profession like '%director%'
            
#""", con) #keep in back-pocket
        # maybe discuss in the next-steps

In [ ]:
#pd.read_sql("""
#Select * 

#From principals
            
#""", con).head()
#keep in back-pocket

In [ ]:
#pd.read_sql("""
#Select * 

#From writers
            
#""", con).head()
#back pocket?

In [5]:
con.close() #have this everytime just in case

In [6]:
os.remove('im.db') #This line deletes the im.db file created earlier.

NameError: name 'rating' is not defined